In [1]:
import great_expectations as ge
import json
import pandas as pd
import json
import pandas as pd
import os
import pyarrow
import requests
import great_expectations as ge
import db_dtypes

from google.cloud import bigquery

In [2]:
import great_expectations as ge
import json
import pandas as pd
import json
import pandas as pd
import os
import pyarrow
import requests
import great_expectations as ge
import db_dtypes

from google.cloud import bigquery


os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'airflow-docker/bicing_Gcloud_service.json'

client = bigquery.Client()

table_id = "bicingml.bicing.descriptors"

sql = """
 SELECT *
    FROM bicingml.bicing.descriptors
"""

df = client.query(sql).to_dataframe()
df.head()

In [3]:
client = bigquery.Client()

In [4]:
table_id = "bicingml.bicing.descriptors"

In [5]:
query_job = client.query("""
    SELECT *
    FROM bicingml.bicing.descriptors""")
results = query_job.result()

In [6]:
sql = """
 SELECT *
    FROM bicingml.bicing.descriptors
"""

df = client.query(sql).to_dataframe()
df.head()

,name,latitude,longitude,timestamp,uid,online,normal_bikes,has_ebikes,ebikes,id,empty_slots,free_bikes
0,"C/ CLOT, 1",41.406386,2.187440,2023-12-12 21:15:49.268,43,True,3,True,3,58fbf6dface3f876f372cf38e1f4297d,19,6
1,"C/ CLOT, 1",41.406386,2.187440,2023-12-13 15:03:33.911,43,True,2,True,5,58fbf6dface3f876f372cf38e1f4297d,19,7
2,"C/ WATT, 2",41.375443,2.139841,2023-12-12 21:15:48.671,441,True,0,True,14,431ed6d01c118a6b0295a8f949fe526a,4,14
3,"C/ WATT, 2",41.375443,2.139841,2023-12-13 15:03:32.926,441,True,6,True,1,431ed6d01c118a6b0295a8f949fe526a,10,7
4,PL. TETUAN,41.394345,2.175171,2023-12-12 21:15:48.603,492,True,0,True,1,084523f98844ad705e48d34b3d667865,22,1